/* Third Section - Our Team  */
.team-section {
  padding: 120px 0;
}

.team-items {
  width: calc((100% - 72px) / 4);
}

/*4th Section - Portfolio */

.portfolio-section {
  padding: 120px 0;
}
/* portfolio H2 styles */
.portfolio-section .header-two {
  text-align: center;
}
/* 4th section portfolio UL styles */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
/* 4th section portfolio LI styles */
.portfolio-items {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-items:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hover-content:hover {
  transform: translateY(0%);
}
.image-container {
  position: relative;
  overflow: hidden;
}
.image-container img {
  display: block;
  transition: opacity 0.3s ease-in-out;
}
.hover-content {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  width: 100%;
  height: auto;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-container:hover .hover-content {
  transform: translateY(0);
}

.image-container:hover img {
  opacity: 0;
}
.product-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.product-descr .header-three {
  margin-bottom: 8px;
}

/* Footer section */
.footer-section {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-section .container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
}
.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 120px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin-right: 80px;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}
.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.footer-btn {
  height: 40px;
  min-width: 165px;
  color: #ffffff;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}
.footer-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  line-height: 2;
  letter-spacing: 0.04em;
  font-size: 12px;
  text-align: left;
}

.footer-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.footer-input:focus::placeholder {
  color: transparent;
}
.subscribe-icon {
  margin-left: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif; /* Используем правильный шрифт */
  font-size: 18px; /* Размер шрифта */
  font-weight: 700; /* Жирный шрифт */
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase; /* Текст в верхнем регистре */
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo .logo-part {
  color: #f4f4fd; /* Цвет для "Studio" */
}
.footer-logo:hover,
.footer-logo:focus {
  color: #404bbf; /* Hover and focus color */
}
.footer-section .logo-part:hover,
.footer-section .logo-part:focus {
  color: #404bbf; /* Hover and focus color */
}
.footer-section .text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-social .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social .link-icons:hover,
.footer-social .link-icons:focus {
  background-color: #31d0aa;
}
.footer-social .social-icons {
  margin-top: 0;
  gap: 16px;
}
.svg-footer {
  fill: #f4f4fd;
}

/* /*--------------------------------- Modal window *----------------------------/ */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 24px;
  right: 24px;
}
.close-btn {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: rgb(64, 75, 191);
  border: none;
  fill: rgb(255, 255, 255);
}
.modal-title {
  font-style: inherit;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: rgb(46, 47, 66);
}
.modal-form {
  text-align: center;
}
.input-wrapper {
  position: relative;
}

.form-field {
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 4px;
  font-size: 16px;
  color: rgb(46, 47, 66);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  fill: rgb(46, 47, 66);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
}

.form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field.textarea-div {
  margin-bottom: 16px;
}
.form-field:focus-within .form-textarea {
  stroke: rgb(77, 90, 229);
}
.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-input:focus,
.form-textarea:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .form-icon {
  stroke: rgb(77, 90, 229);
  fill: rgb(77, 90, 229);
}

.form-field.checkbox {
  margin-bottom: 24px;
}
.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.custom-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.form-checkbox:checked + .form-label .custom-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.form-button {
  display: block;
  margin: 0 auto;
}
