.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-style: normal;
}
a,
button {
  text-decoration: none;
  color: #2e2f42;
  font-style: normal;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* ______________________________________ */
/* header */
.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container.header-container {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.nav-list,
.nav-address {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.logo:hover,
.logo:focus,
.logo-part:hover,
.logo-part:focus {
  color: #404bbf;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-link,
  .address-link {
    display: block;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-address,
  .address-link {
    padding: 0;
  }

  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .nav-items .nav-link:hover,
  .nav-items .nav-link:focus,
  .nav-link.current,
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-address {
    font-style: normal;
    display: block;
    padding: 16px 0;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .nav-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link {
    display: block;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-weight: 400;
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
  .burger-btn {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .nav-address {
    padding: 0;
  }
  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .nav-link,
  .address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    padding: 24px 0;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link {
    font-weight: 500;
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
}
/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-btn {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: rgb(64, 75, 191);
  border: none;
  fill: rgb(255, 255, 255);
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-nav-items {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 11;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address-link:hover,
.address-link:focus {
  color: #4d5ae5;
}
.mobile-address-list {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 24px;
}
.mobile-menu-address {
  margin-bottom: auto;
}
.mobile-menu-social .social-icons {
  display: flex;
  justify-content: space-between;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.icons {
  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icons {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-icons:hover,
.link-icons:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* hero section */
.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img/Dark-bg-mob-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2e2f42;
  margin: 0 auto;
  padding: 72px 0;
  max-width: 1440px;
  @media screen and (min-width: 768px) {
    padding: 112px 0;
  }
  @media screen and (min-width: 1158px) {
    padding: 188px 0;
  }
}
.hero-section .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-one {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  margin-top: 0;
  max-width: 216px;
  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
  @media screen and (min-width: 1158px) {
    margin-bottom: 48px;
  }
}
.button {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/Dark-bg-mob@2x-min.jpg);
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/Dark-bg-tab-min.jpg);
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img/Dark-bg-tab@2x-min.jpg);
      background-repeat: no-repeat;
    }
  }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img/dark-bg-desc-min.jpg);
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img/dark-bg-desc@2x-min.jpg);
      background-repeat: no-repeat;
    }
  }
}

/* _______________________________________*/
/* Second section - About */
.about-section {
  padding: 96px 0;
}
.about-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}
.about-items .thumb {
  display: none;
}
.header-three {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 8px;
  text-align: center;
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .about-section {
    max-width: 768px;
    margin: 0 auto;
    padding: 96px 16px;
  }
  .about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }
  .about-items {
    width: calc((100% - 24px) / 2);
    display: flex;
    flex-direction: column;
  }
  .header-three {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .about-section {
    max-width: 1158px;
    padding: 120px 15px;
  }
  .about-list {
    gap: 24px;
  }
  .about-items {
    width: calc((100% - 72px) / 4);
  }
  .about-items .thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    max-width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .header-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .text {
    font-weight: 400;
    letter-spacing: 0.005em; /*Щоб текст вліз в 3 рядкі заміст 0,02ем*/
    line-height: 1.5;
  }
}
/* ____________________________________________ */
/* <!-- Third Section - Our Team --> */
.team-section {
  background-color: #f4f4fd;
  padding: 96px 15px;
  margin: 0 auto;
}
.header-two {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column; /*прибрати для деск*/
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-items {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-description {
  padding: 32px 0;
}
.team-description .header-three {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
}
.team-description .text {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.icons {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icons {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-icons:hover,
.link-icons:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .team-section {
    padding: 96px 16px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
  .team-items {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 264px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1158px) {
  .team-items {
    width: calc((100% - 72px) / 4); /* Для 4 элементаў у радку */
  }
}
